* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}



/* 聯絡表單樣式 */
.form-us {
    background-color: #d3e3e2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 13px 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-label {
    font-weight: bold;
    font-size: 20px;
    color:#565656;
  }
  
  .btn-form {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #77abc0;
    color: #565656;
    font-weight: bold;
    text-decoration: none;
  }
  .btn-form:hover{
    background-color: #333; /* 懸停時按鈕背景變深 */
    color: #fff; /* 懸停時按鈕文字變為白色 */
    text-decoration: none;
  }